INTER_CLIENT_ID=seu_client_id_aqui
INTER_CLIENT_SECRET=seu_client_secret_aqui
INTER_CERT_PATH=src/configuracao/credenciais/inter.crt
INTER_KEY_PATH=src/configuracao/credenciais/inter.key
INTER_AMBIENTE=sandbox

GMAIL_CREDENTIALS_PATH=src/configuracao/credenciais/gmail_credentials.json

DATABASE_PATH=database.db

FLASK_PORT=5000
FLASK_DEBUG=False

INTERVALO_PROCESSAR_EMAILS=60
INTERVALO_EXECUTAR_PAGAMENTOS=30
INTERVALO_AGENDAR_PAGAMENTOS=60
